/* Footer */
.footer {
	background-color: $dark-bg-cl;
	padding: 60px 0;
}

.footer__container {
	display: flex;
	align-items: baseline;
}

.footer__wrap {
	margin-right: 70px;
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.logo__wrap-white-color {
	color: $wight-txt-cl;
}

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	transition: color $transition;

	&:hover,
	&:focus {
		color: $accent-cl;
	}
}

.address__link--white-txt-cl {
	color: $wight-txt-cl;
}

.footer__title {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
}

.subscribe-form {
	display: flex;
	gap: 12px;
	margin-left: auto;
}

.subscribe-form__input {
	padding: 0 16px;
	width: 358px;
	height: 50px;

	letter-spacing: 0.03em;
	color: $wight-txt-cl;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	&::placeholder {
		letter-spacing: 0.03em;
		color: rgba(255, 255, 255, 0.6);
		user-select: none;
	}
}

.subscribe-form__button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	align-self: flex-end;
}

.subscribe-form__icon {
	fill: $wight-txt-cl;
}