.button {
	display: block;
	min-width: 200px;
	min-height: 50px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: $wight-txt-cl;
	background-color: $accent-cl;
	user-select: none;

	transition: background-color $transition;

	&:hover,
	&:focus {
		background-color: #188CE8;
	}
}