/* Модальне вікно */
.backdrop {
	position: fixed;
	top: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity $transition, visibility $transition;
}

.backdrop--is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform $transition, visibility $transition;

	width: 528px;
	height: 581px;
	padding-left: 35px;
	padding-right: 45px;
	padding-top: 37px;
	padding-bottom: 43px;

	background-color: #ffffff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	.backdrop--is-hidden & {
		transform: translate(-50%, -50%) scale(1.1);
	}
}

.modal__close-btn {
	position: absolute;
	right: 8px;
	top: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;

	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background: #FFFFFF;
	cursor: pointer;
}

.modal__close-icon {
	height: 18px;
	width: 18px;
	transition: fill $transition;

	.modal__close-btn:hover &,
	.modal__close-btn:focus & {
		fill: $accent-cl;
	}
}

.modal__title {
	margin-bottom: 30px;

	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	letter-spacing: 0.03em;
	text-align: center;
}

.modal__wrap {
	position: relative;

	margin-bottom: 28px;
	display: block;
}

.modal__input {
	width: 100%;
	height: 40px;
	padding-left: 42px;
	padding-right: 10px;

	outline: transparent;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color $transition;

	&:focus {
		border: 1px solid $accent-cl;
		border-radius: 4px;
	}

	&::placeholder {
		user-select: none;
	}
}

.modal__label {
	position: absolute;
	top: 50%;
	left: 40px;
	transform: translateY(-50%);

	font-size: 12px;
	line-height: calc(14 / 12);
	letter-spacing: 0.01em;
	color: var(--secondary-txt-cl);
	user-select: none;
	transition: transform $transition, color $transition;

	.modal__input:focus+& {
		color: $accent-cl;
	}

	.modal__input:focus+&,
	.modal__input:not(:placeholder-shown)+& {
		transform: translate(-40px, -40px);
	}

	.modal__input--comment:focus+&,
	.modal__input--comment:not(:placeholder-shown)+& {
		transform: translate(-16px, -35px);
	}
}

.modal__icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	transition: fill $transition;

	.modal__input:focus~& {
		fill: $accent-cl;
	}
}

.modal__wrap--comment {
	margin-bottom: 20px;
}

.modal__input--comment {
	resize: none;
	height: 120px;
	padding: 12px 16px;

	&::placeholder {
		font-size: 12px;
		line-height: calc(14 / 12);
		letter-spacing: 0.01em;
		color: rgba(117, 117, 117, 0.5);
		transition: color $transition;
	}

	&:not(:focus)::placeholder {
		color: transparent;
	}
}

.modal__label--comment {
	top: 16px;
	left: 16px;
}

.modal__checkbox {
	@extend %visually-hidden;
}

.modal__wrap-agree {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}

.modal__agree-icon {
	margin-right: 8px;
}

.modal__icon-check {
	opacity: 0;
	transition: opacity $transition;

	.modal__checkbox:checked+.modal__agree-icon>& {
		opacity: 1;
	}
}

.modal__icon-uncheck {
	opacity: 1;
	transition: opacity $transition, fill $transition;

	.modal__checkbox:checked+.modal__agree-icon>& {
		opacity: 0;
	}

	.modal__checkbox:hover+.modal__agree-icon &,
	.modal__checkbox:focus+.modal__agree-icon & {
		fill: $accent-cl;
	}
}

.modal__checkbox-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $secondary-txt-cl;
	user-select: none;
}

.modal__checkbox-link {
	text-decoration-line: underline;
	color: $accent-cl;
}

.modal__button {
	margin: 0 auto;
}